<!DOCTYPE html>
<html lang="en"><head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>美麗可以被複製</title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/scrolling-nav.css" rel="stylesheet">

    <link href="stylesheets/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">自己的東華自己拍!</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden active">
                        <a class="" href=""></a>
                    </li>
                    <li class="">
                        <a class="" href="/photos/upload">貢獻獵物</a>
                    </li>
                    <li class="">
                        <a class="" href="/photos">欣賞圖鑑</a>
                        <!-- 做成遊戲依樣 有卡片編號 -->
                    </li>
                    <li class="">
                        <a class="" href="/photos/ranking">排行榜</a>
                    </li>
                    <li class="">
                        <a class="" href="/">系統簡介</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section"  >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- <h1>Scrolling Nav</h1> -->
                    <p style="color:white">
                        捕捉野生柯文哲、
                        捕捉野生周杰倫...<br>
                        當人們見獵心喜的對他們按下快門時，
                        有想過柯p只是想在捷運打個瞌睡嗎~~~<br><br>
                        或許，<br><br>
                        我們都忘了，我們可以...<br>
                        <h2 style="color:white">補捉，東華。</h2><br>




                    </p>
                    <a class="btn btn-default page-scroll" href="#about">NEXT</a>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 style="color:white">分享景點</h1>
                    <p style="color:white;">
                      
                        可以將你搜尋到的私房景點秀給大家看看，<br>
                        如果您願意，<br>
                        就順便把相機型號、拍照方法分享一下吧!<br>
                        或是...把這裡當日記本，<br>
                        寫下喀擦瞬間的心情。<br><br>

                        有fb被按讚功能，再也...<br>
                        不用半夜默默地孤芳自賞惹。
                      
                    </p>
                    <a class="btn btn-default page-scroll" href="#services">NEXT</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="services" class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 style="color:white;">按圖索驥</h2>
                    <div style="color:white;">
                        每當看到了神級美圖，<br>
                        卻只能望圖興嘆，<br><br>
                        這一次...<br>
                        我們提供了地圖功能，<br>
                        讓妳站在強者的眼角膜上看世界！

                    </div>
                    <a class="btn btn-default page-scroll" href="#contact">next</a>

                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 style="color:white;">美圖天梯</h1>
                    <p style="color:white;">
                        我們會計算按讚次數前五高的圖，<br>
                        來送給大家，

                        無論要當桌面、<br>
                        印出來裱框、<br>
                        手工明信片<br>
                        都非常適合唷~!
                    </p>

                    <a class="btn btn-default page-scroll" href="#intro">top</a>

                </div>
            </div>
        </div>
    </section>


    <div class="footer">
      <div class="container">
        <p class="text-muted">版權沒有，拜託幫我debug</p>
      </div>
    </div>

    <!-- jQuery Version 1.11.0 -->
    <script src="javascripts/thirdParty/jquery-2.1.1.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/thirdParty/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="javascripts/thirdParty/jquery.easing.min.js"></script>
    <script src="javascripts/thirdParty/scrolling-nav.js"></script>




</body></html>