#intro {

	background-image: url("/images/index_4.jpg");

}

#about {
	background-image: url("/images/sogo.jpg");
}

#about {
	background-image: url("/images/sogo.jpg");
}

#services {
	background-image: url("/images/index_3.jpg");
}

#contact {
	background-image: url("/images/index_4.jpg");
}

.photos {
	width: 100%;
}